.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.carouselWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slide {
  width: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  /* padding: 0.5rem 0.5rem; */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
}

.left {
  left: 1rem;
}

.right {
  right: 1rem;
}


.dots {
  position: absolute;
  bottom: 1rem; /* Move up from the bottom of slide */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 2;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}

.active {
  background-color: var(--primary); /* Replace var(--primary) if it's not defined */
}